/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

$window-width: 500px;

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.home {
  width: $window-width;
}

.recipe-image {
  max-height: 400px;
  max-width: 400px;
}

.recipe-tabs {
  margin-bottom: 50px;
  & mat-tab-header {
    position: fixed;
    width:100%;
    bottom: 0;
    z-index: 5;
    background-color: white;
  }
}
