/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 600px; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-home {
  & .mat-tab-body {
    width: 400px;
    overflow-y: auto;
    height: 550px;
  }

  & .mat-tab-group {
    width: 500px
  }
}
ngb-carousel {
  img {
    height: 400px;
  }
  height: 550px;
  background-color: black;
}
